.profile {
 padding-top: 74px;
 padding-bottom: 70px;
 background-color: #202020;
}

.profile__container {
  margin: 0 auto;
  max-width: 410px;
}

.profile__title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__name {
  display: flex;
  justify-content: space-between;
  margin: 123px 0 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__email {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.profile__name-label {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__name-value {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__error-message {
  flex-basis: 100%;
  min-height: 12px;
  margin: 0;
  padding: 0;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
}

.profile__field-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__field-name {
  display: block;
  width: auto;
  text-align: right;
  color: #fff;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0px 4px;
  box-sizing: border-box;
  transition: all 0.1s linear;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__field-name:focus {
  border: none;
  border-radius: 2px;
  outline: 1px solid #a2a2a2;
  outline-offset: 3px;
}

.profile__email-label {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__email-value {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__field-email {
  display: block;
  width: auto;
  text-align: right;
  color: #fff;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0px 4px;
  box-sizing: border-box;
  transition: all 0.1s linear;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__field-email:focus {
  border: none;
  border-radius: 2px;
  outline: 1px solid #a2a2a2;
  outline-offset: 3px;
}

.profile__button-edit {
  cursor: pointer;
  margin: 220px auto 16px;
  border: none;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  text-decoration: none;
  transition: opacity .2s linear;
}

.profile__button-edit:hover {
  opacity: .8;
}

.profile__button-exit {
  cursor: pointer;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  color: #EE3465;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: block;
  text-decoration: none;
  transition: opacity .2s linear;
}

.profile__button-exit:hover {
  opacity: .8;
}

.profile__error {
  margin: 189px auto 20px;
  padding: 0;
  display: block;
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__save-button {
  cursor: pointer;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #4285F4;
  padding: 0;
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition: opacity .2s linear;
}

.profile__save-button:hover {
  opacity: .8;
}

.profile__save-button_disabled {
  cursor: default;
  background-color: #f8f8f8;
  color: #c2c2c2;
}

@media screen and (max-width: 900px) {

  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
   }

   .profile__name {
    margin: 96px 0 0;
  }

  .profile__button-edit {
    margin: 210px auto 16px;
  }

  .profile__error {
    margin: 179px auto 20px;
  }
}

@media screen and (max-width: 500px) {

  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
   }

   .profile__container {
    max-width: 260px;
  }

   .profile__name {
    margin: 80px 0 0;
  }

  .profile__button-edit {
    margin: 379px auto 16px;
  }

  .profile__error {
    margin: 348px auto 20px;
  }
}
