.portfolio {
  padding-bottom: 125px;
  background-color: #202020;
}

.portfolio__container {
  margin: 0 auto;
  max-width: 1140px;
}

.portfolio__about {
  margin: 0;
  color: #8B8B8B;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__list {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  padding: 20px 0 19px;
  border-bottom: 1px solid #424242;
}

.portfolio__item:last-child {
  border-bottom: none;
}

.portfolio__link {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-image: url(../../../images/link-arrow.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  text-decoration: none;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  transition: opacity .2s linear;
}

.portfolio__link:hover {
  opacity: .7;
}

@media screen and (max-width: 1150px) {
  .portfolio {
    padding-bottom: 90px;
  }

  .portfolio__container {
    margin: 0 50px;
  }

  .portfolio__about {
    color: #A0A0A0;
  }

  .portfolio__link {
    background-size: 18px;
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 725px) {
  .portfolio {
    padding-bottom: 70px;
  }

  .portfolio__container {
    margin: 0 14px;
  }

  .portfolio__about {
    color: #A0A0A0;
    font-size: 14px;
  }

  .portfolio__list {
    margin: 20px 0 0;
  }

  .portfolio__link {
    background-size: 12px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.72px;
  }
}
