.login {
  padding: 70px 0;
  background-color: #202020;
}

.login__container {
  margin: 0 auto;
  max-width: 396px;
}

.login__title {
  margin: 40px 0;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.login__label {
  margin: 0;
  padding: 0 0 10px 0;
  display: block;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.login__input {
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #2F2F2F;
  height: 46px;
  width: 100%;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 0 15px;
  margin-bottom: 20px;
}

.login__button {
  cursor: pointer;
  border-radius: 3px;
  background-color: #4285F4;
  padding: 0;
  margin-top: 160px;
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition: opacity .2s linear;
}

.login__button:hover {
  opacity: .8;
}

.login__question {
  margin: 16px 0 0;
  text-align: center;
  color: #8B8B8B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login__link {
  text-decoration: none;
  margin: 0;
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: opacity .2s linear;
}

.login__link:hover {
  opacity: .7;
}

@media screen and (max-width: 500px) {

  .login {
    padding-top: 56px;
  }

  .login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 260px;
    margin: 0 auto;
  }

  .login__form {
    width: 100%;
  }

  .login__title {
    margin: 50px 0 80px;
  }

  .login__button {
    font-size: 12px;
    margin-top: 249px;
  }

  .login__question {
    margin: 14px 0 0;
    font-size: 12px;
  }

  .login__link {
    font-size: 12px;
  }
}
